@charset "utf-8";
/*-----------网站菜单样式-------------------------------------------
 说明: 
------------------------------------------------------------ */
/*tab-menu*/
.tab-menu{height:32px;overflow: visible;white-space: nowrap;background:url(images/tab_line_bg.gif) repeat-x 0 bottom;}
.myop .tab-menu{}
.tab-menu ul{height:27px}
.tab-menu li{float:left;margin-right: 2px}
.tab-menu li a{height:30px;line-height:30px;color:#666;float:left;padding-left:20px;text-decoration:none;display:block;font-size: 14px;background: #eee url(images/tab_menu.gif) no-repeat 0 -35px}
.tab-menu li a:visited{color:#666}
.tab-menu li a span{height:30px;display:block;font-size:12px;padding-right:20px;float:left;cursor:pointer;text-decoration: none;line-height: 30px;background: #eee url(images/tab_menu.gif) no-repeat right -35px}
.tab-menu li a span.ico_arrow{background:url(images/ico_arrow.gif) no-repeat right center;padding-right:15px}
.tab-menu li a.on, .tab-menu li a:hover,.tab-menu li a.on:hover{display:block;height:32px;text-decoration: none;background: #fff url(images/tab_menu.gif) no-repeat 0 0;color:#666}
.tab-menu li a.on span, .tab-menu li a:hover span,.tab-menu li a.on:hover span{cursor:pointer;line-height:30px;height:31px;display:block;background-image: url(images/tab_menu.gif);background-repeat: no-repeat;background-position: right 0}
.tab-menu li a:hover{background-position:left 0;text-decoration: none;font-weight:normal}
.tab-menu li a:hover span{cursor:pointer;display:block;height:30px;_height:31px;text-decoration: none;background-position:right 0;font-weight:normal}
.tab-menu .tab_group{position:relative}
.tab-menu .tab_group .Inc_new{display:none}
.tab-menu .tab_group_hover{position:relative}
.tab-menu .tab_group_hover .Inc_new{background-color:#fff;border:1px solid #D2DBEA;padding:5px;position:absolute;top:27px;border-top:3px solid #D2DBEA;left:0px}
.tab-menu .tab_group_hover .Inc_new a{height:25px;line-height:25px;float: none;padding:3px;text-decoration:none;display:block;font-size: 14px}
.tab-menu .tab_group_hover .Inc_new a:hover{background-color:#F5F5F5}
/* TAB */
.tabMenu{height:28px;line-height:26px;background:url(images/tab_line_bg.gif) repeat-x 0 bottom}
.tabMenu li a:link,.tabMenu li a:visited{display:block;float:left;margin:0 2px 0 0;_margin:0 1px 0 0;color:#666;line-height:18px;background:url(images/tab_menu.gif) repeat-x 0 -35px}
.tabMenu li a span{background-color:#fff;height:18px;line-height:18px;padding:5px 10px;background:url(images/tab_menu.gif) repeat-x right -35px;display:inline-block;margin:0 0 0 1px;cursor:pointer}
.tabMenu li.hover a{display:block;float:left;margin:0 2px 0 0;_margin:0 2px 0 0;color:#666;line-height:18px;background:url(images/tab_menu.gif) repeat-x 0 0}
.tabMenu li.hover a span{background-color:#fff;height:18px;line-height:18px;padding:5px 10px;background:url(images/tab_menu.gif) repeat-x right 0;display:inline-block;margin:0 0 0 1px}
.tabMenu li a:hover{display:block;float:left;margin:0 2px 0 0;_margin:0 2px 0 0;color:#666;line-height:18px;background:url(images/tab_menu.gif) repeat-x 0 0}
.tabMenu li a:hover span{background-color:#fff;height:18px;line-height:18px;padding:5px 10px;background:url(images/tab_menu.gif) repeat-x right 0;display:inline-block;margin:0 0 0 1px}
.tabMenu li.hover a:hover{display:block;float:left;margin:0 2px 0 0;_margin:0 2px 0 0;color:#666;line-height:18px;background:url(images/tab_menu.gif) repeat-x 0 0}
.tabMenu li.hover a:hover span{background-color:#fff;height:18px;line-height:18px;padding:5px 10px;background:url(images/tab_menu.gif) repeat-x right 0;display:inline-block;margin:0 0 0 1px}
.tabMenu li.hover a.on{background-color:#fff}
.tabMenu li a.on{background-color:#fff;line-height:18px;background:url(images/tab_menu.gif) repeat-x 0 0}
.tabMenu li a.on span{background-color:#fff;height:18px;line-height:18px;padding:5px 10px;background:url(images/tab_menu.gif) repeat-x right 0;display:inline-block;margin:0 0 0 1px}
.tabMenu li a.drop{background-color:#fff;line-height:18px;background:url(images/tab_menu.gif) repeat-x 0 0}
.tabMenu li a.drop span{background-color:#fff;height:18px;line-height:18px;padding:5px 10px;background:url(images/tab_menu.gif) repeat-x right 0;display:inline-block;margin:0 0 0 1px}
.tabMenu li a:hover{text-decoration:none}
.tabMneu li.hover{background-color:000}
.tabMenu li a.application{color:#666;position:relative;z-index:99;display:block;background:url(images/tab_menu.gif) repeat-x right -35px}
.tabMenu li a.application span{background-color:#fff;height:18px;line-height:18px;padding:5px 10px;background:url(images/tab_menu.gif) repeat-x right -35px;display:inline-block;margin:0 0 0 1px}
.tabMenu li.hover a.application{background-color:#fff;position:relative;height:18px;line-height:18px;padding:5px 10px;z-index:99;border:#ddd solid 1px;border-bottom:none}
.tabMenu li.hover a.application:hover{background-color:#fff;height:18px;line-height:18px;padding:5px 10px;pxtext-decoration:none;border:#ddd solid 1px;border-bottom:none}
.tabMenu .ico_show_on,.tabMenu .ico_show_off{margin:10px 10px 0 0}
.tabMenu li .dropmenu{display: none;position:absolute;left:0;top: 25px;z-index: 9000}
.tabMenu li{position:relative;z-index:99;display:block;float:left}
.tabMenu li.hover .dropmenu{background-color: #fff;z-index: 9000;top: 28px;left:0;position: absolute;text-align: left; display: block;font-size: 12px;border: 1px solid #ddd;border-top:none;box-shadow:2px 1px 3px rgba(0, 0, 0, 0.2);border-radius:0px 0px 3px 3px;min-width:100px;*width:120px}
.tabMenu .Att_list{padding:0;overflow:hidden;*width:100%}
.tabMenu .Att_list dd {overflow:hidden}
.tabMenu .Att_list dd a:link,.tabMenu .Att_list dd a:visited{background:none;font-size:12px;color:#3B5998;line-height:30px;height:30px;padding:0 10px;margin:0;overflow:hidden;white-space:nowrap;float:none;border:none;text-overflow: ellipsis;width:120px;_width:100px;display:block}
.tabMenu .Att_list dd a:hover{background:#E8E8E8;font-size:12px;color:#3B5998;line-height:30px;height:30px;padding:0 10px;margin:0;border-radius:0 0 0 0;border:none 0}
.MenuSub{height: 30px;line-height:30px;color:#3B5998;margin:10px 0 0}
.MenuSub_2{line-height:30px;margin-bottom: 10px;background:url(images/MenuSub.gif) repeat-x 0 bottom;color:#E0E8EA;padding-left:5px;overflow:hidden;width:auto;_width:99%}
.MenuSub a,.MenuSub_2 a {font-size: 12px;margin-right: 5px;padding: 3px 8px}
.MenuSub a.on,.MenuSub_2 a.on{color:#fff;font-size: 12px;background-color:#999;border-radius:2px 2px 2px 2px}

/*广场下tab*/
.tab_square{width:150px;float:left;_overflow:hidden}
.tab_square .square_menu{padding:10px 0 10px 10px}
.tab_square .square_menu .on:link,.tab_square .square_menu .on:visited{background-color:#fff;border-radius: 3px 0 0 3px;color: #193E5C}
.square_menu li{height:30px;line-height:30px;}
.square_menu li a:link,.square_menu li a:visited{color:#fff;display:block;padding:0 10px 0 15px;line-height:30px;_padding:5px 15px 5px 10px;font-size:14px}
.square_menu li a:hover{background-color:#507FA5;border-radius: 3px 0 0 3px;color:#fff;text-decoration:none}

/*导航下拉框共用样式*/
.header .nav ul li .dropmenu,.header .person li .dropmenu{display:none;z-index: 9000;top: 35px;right:0;position: absolute;}
.header .nav ul li.hover .dropmenu,.header .person li.hover .dropmenu{background-color: #fff;z-index: 9000;top: 35px;right:-1px;_right:-2px;position: absolute;text-align: left; display: block;font-size: 12px;border: 1px solid #666;border-top:0 none;white-space:nowrap;box-shadow:1px 1px 3px rgba(0, 0, 0, 0.3);border-radius:0px 0px 3px 3px}

.header .nav ul li .ip-dropmenu,.header .person li .ip-dropmenu{display:none;z-index: 9000;top: 50px;right:0;position: absolute;}
.header .nav ul li.hover .ip-dropmenu,.header .person li.hover .ip-dropmenu{background-color: #fff;z-index: 9000;top: 43px;right:-1px;_right:-2px;position: absolute;text-align: left; display: block;font-size: 12px;border: 1px solid #666;border-top:0 none;white-space:nowrap;box-shadow:1px 1px 3px rgba(0, 0, 0, 0.3);border-radius:0px 0px 3px 3px}




.header .person li.hover .dropmenu a {line-height: 30px;font-size: 12px;background-color:#fff;font-weight: normal;display: block;padding: 0px 7px;color:#143149}
.header .person li.hover .dropmenu a:hover,.header .nav ul li.hover .dropmenu a:hover{background-color: #e8e8e8;text-decoration: none}
.header .nav ul li.hover .dropmenu a{line-height: 30px;font-size: 12px;background-color:#fff;font-weight: normal;display: block;padding: 0px 7px;color:#143149}
.header .person li.hover,.header .nav ul li.hover {background: url(images/current_bg.png) repeat scroll 0 0 #fff;border-bottom: 0;-moz-border-radius-topright: 3px;-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;-webkit-border-top-left-radius: 3px;border-top-left-radius: 3px;border-top-right-radius: 3px;-moz-box-shadow: 1px -2px 3px rgba(0,0,0,.3);
-webkit-box-shadow: 1px -2px 3px rgba(0,0,0,.3);box-shadow: 1px -2px 3px rgba(0,0,0,.3);margin-top:2px}

/*应用列表*/
.header .nav ul li.hover .dropmenu .app_list{color:#999;width:220px;overflow:hidden;border-bottom:1px solid #ccc}
.header .nav ul li.hover .dropmenu .app_list_add{color:#999;text-align:right;clear:both;border-top:1px solid #fff}
.header .nav ul li.hover .dropmenu .app_list_add a{background-color:#fff;color:#3B5998;_padding:7px}
.header .nav ul li.hover .dropmenu .app_list_add a:hover{background:none;text-decoration:underline}

/*广场列表*/
.header .nav ul li.hover .dropmenu .square_list{color:#999;width:120px;clear:both}
.header .nav ul li.hover .dropmenu .square_list dd a{line-height:30px;_line-height:20px;_padding:5px;display:block;white-space: nowrap;overflow:hidden;background-color:#fff}
.header .person li.hover .dropmenu .square_list_add{border-top:1px solid #fff}

/*群组列表*/
.header .nav ul li.hover .dropmenu .group_list,.header .nav ul li.hover .dropmenu .group_list_add{width:150px;overflow:hidden}
.header .nav ul li.hover .dropmenu .group_list{border-bottom:1px solid #ccc}
.header .nav ul li.hover .dropmenu .group_list dd a,.header .nav ul li.hover .dropmenu .message dd a,.header .nav ul li.hover .dropmenu .setup dd a{line-height:25px;display:block;white-space: nowrap;overflow:hidden;background-color:#fff;width:130px;text-overflow:ellipsis;}
.header .nav ul li.hover .dropmenu .group_list_add a{background-color:#fff;color:#3B5998;text-align:right;display:inline}
.header .nav ul li.hover .dropmenu .group_list_add a:hover{background:none;display:inline;text-decoration:underline}

/*群组列表*/
.header .person li.hover .dropmenu .message dd a,.header .person li.hover .dropmenu .setup dd a{line-height:30px;_padding:5px;_line-height:20px;display:block;white-space: nowrap;overflow:hidden}
.header .person li.hover .dropmenu .square_list_add dd a{line-height:30px;_padding:5px;_line-height:20px}

/*导航列表页脚附标*/
.header .person li.hover .dropmenu .message_list_add,.header .person li.hover .dropmenu .user_list_add,.header .nav ul li.hover .dropmenu .square_list_add,.header .nav ul li.hover .dropmenu .message_list_add,.header .nav ul li.hover .dropmenu .user_list_add
{color:#999;width:120px;clear:both;border-top:1px solid #fff}
.header .person li.hover .dropmenu .message dd,.header .person li.hover .dropmenu .setup dd,.header .nav ul li.hover .dropmenu .square_list dd,.header .nav ul li.hover .dropmenu .group_list dd,.header .nav ul li.hover .dropmenu .message dd,.header .nav ul li.hover .dropmenu .user_list dd{position:relative;overflow:hidden;height:30px}
.header .nav ul li.hover .dropmenu .message,.header .nav ul li.hover .dropmenu .user_list,.header .person li.hover .dropmenu .setup{color:#999;width:120px;clear:both;border-bottom:1px solid #ccc}
.header .nav ul li.hover .dropmenu .group_list dd a:hover,.header .nav ul li.hover .dropmenu .message dd a:hover,.header .nav ul li.hover .dropmenu .user_list dd a:hover,.header .nav ul li.hover .dropmenu .square_list dd a:hover{background-color:#e8e8e8}
.header .nav ul li.hover .dropmenu .app_list dt,.header .nav ul li.hover .dropmenu .square_list dt,.header .nav ul li.hover .dropmenu .group_list dt,.header .nav ul li.hover .dropmenu .message dt,.header .nav ul li.hover .dropmenu .user_list dt,.header .person li.hover .dropmenu .message dt,.header .person li.hover .dropmenu .setup dt{padding:5px}
.header .nav ul li.hover .dropmenu .app_list dd,.header .person li.hover .dropmenu .app_list dd {float:left;width:50%;position:relative;overflow:hidden;height:30px;*zoom:1}
.header .nav ul li.hover .dropmenu .app_list dd a{line-height:30px;text-indent:20px;display:block;white-space: nowrap;overflow:hidden;background-color:#fff}
.header .person li.hover .dropmenu .app_list dd a{line-height:30px;text-indent:20px;display:block;white-space: nowrap;overflow:hidden}
.header .nav ul li.hover .dropmenu .app_list dd a:hover {background-color:#e8e8e8}