<?xml version="1.0"	encoding="UTF-8"?>
<!-- http://learn.iis.net/page.aspx/469/using-rewrite-maps-in-url-rewrite-module/ -->
<configuration>
<system.webServer>
	<rewrite>
		<rules>
			<rule name="url">
				<match url="^/?url/([a-zA-Z0-9]+)$"	/>
				<action	type="Rewrite" url="shorturl.php?url={R:1}" />
			</rule>
			<rule name="wap">
				<match url="^/?wap/?$" />
				<action	type="Rewrite" url="index.php?app=wap&{QUERY_STRING}"	/>
			</rule>
			<rule name="w3g">
				<match url="^/?w3g/?$" />
				<action	type="Rewrite" url="index.php?app=w3g&{QUERY_STRING}"	/>
			</rule>
			<rule name="admin">
				<match url="^/?admin/?$" />
				<action	type="Rewrite" url="index.php?app=admin&{QUERY_STRING}" />
			</rule>
			<rule name="index">
				<match url="^/?index/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=Index&act=index&{QUERY_STRING}"	/>
			</rule>
			<rule name="home">
				<match url="^/?home/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=User&act=index&{QUERY_STRING}"	/>
			</rule>
			<rule name="atme">
				<match url="^/?atme/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=User&act=atme&{QUERY_STRING}" />
			</rule>
			<rule name="favorite">
				<match url="^/?favorite/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=User&act=collection&{QUERY_STRING}" />
			</rule>
			<rule name="comment">
				<match url="^/?comment/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=User&act=comments&{QUERY_STRING}" />
			</rule>
			<rule name="?findfriend">
				<match url="^/?findfriend/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=User&act=findfriend&{QUERY_STRING}" />
			</rule>
			<rule name="?login">
				<match url="^/?login/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Public&act=login&{QUERY_STRING}" />
			</rule>
			<rule name="?adminlogin">
				<match url="^/?adminlogin/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Public&act=adminlogin&{QUERY_STRING}" />
			</rule>
			<rule name="?logout">
				<match url="^/?logout/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Public&act=logout&{QUERY_STRING}" />
			</rule>
			<rule name="?register">
				<match url="^/?register/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=Public&act=register&{QUERY_STRING}" />
			</rule>
			<rule name="?sendPassword">
				<match url="^/?sendPassword/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=Public&act=sendPassword&{QUERY_STRING}" />
			</rule>
			<rule name="?404">
				<match url="^/?404/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Public&act=error404&{QUERY_STRING}" />
			</rule>
			<rule name="?notification">
				<match url="^/?notification/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=Message&act=notify&{QUERY_STRING}"	/>
			</rule>
			<rule name="?appmessage">
				<match url="^/?appmessage/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Message&act=appmessage&{QUERY_STRING}"	/>
			</rule>
			<rule name="?square">
				<match url="^/?square/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Square&act=index&{QUERY_STRING}" />
			</rule>
			<rule name="?square-topic">
				<match url="^/?square/topic/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=Square&act=hot_topics&{QUERY_STRING}" />
			</rule>
			<rule name="?square_star">
				<match url="^/?square/star/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Square&act=star&{QUERY_STRING}" />
			</rule>
			<rule name="?square_top">
				<match url="^/?square/top/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Square&act=top&{QUERY_STRING}"	/>
			</rule>
			<rule name="?square_app">
				<match url="^/?square/app/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Square&act=app&{QUERY_STRING}"	/>
			</rule>
			<rule name="?message">
				<match url="^/?message/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Message&act=index&{QUERY_STRING}" />
			</rule>
			<rule name="?message_inbox">
				<match url="^/?message/inbox/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Message&act=inbox&{QUERY_STRING}" />
			</rule>
			<rule name="?message_outbox">
				<match url="^/?message/outbox/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Message&act=outbox&{QUERY_STRING}"	/>
			</rule>
			<rule name="?message">
				<match url="^/?message/([0-9]+)/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=Message&act=detail&id={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="?setting">
				<match url="^/?setting/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Account&act=index&{QUERY_STRING}" />
			</rule>
			<rule name="?setting_privacy">
				<match url="^/?setting/privacy/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Account&act=privacy&{QUERY_STRING}" />
			</rule>
			<rule name="?setting_domain">
				<match url="^/?setting/domain/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Account&act=domain&{QUERY_STRING}"	/>
			</rule>
			<rule name="setting_security">
				<match url="^/?setting/security/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=Account&act=security&{QUERY_STRING}" />
			</rule>
			<rule name="setting_medal">
				<match url="^/?setting/medal/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Account&act=medal&{QUERY_STRING}" />
			</rule>
			<rule name="setting_bind">
				<match url="^/?setting/bind/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=Account&act=bind&{QUERY_STRING}" />
			</rule>
			<rule name="setting_credit">
				<match url="^/?setting/credit/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Account&act=credit&{QUERY_STRING}"	/>
			</rule>
			<rule name="setting_verified">
				<match url="^/?setting/verified/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=Account&act=verified&{QUERY_STRING}" />
			</rule>
			<rule name="setting_invite">
				<match url="^/?setting/invite/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Account&act=invite&{QUERY_STRING}"	/>
			</rule>
			<rule name="?space">
				<match url="^/?space/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Space&act=index&{QUERY_STRING}" />
			</rule>
			<rule name="space_@url">
				<match url="^/?@([a-zA-Z0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Space&act=index&uid={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="space_url">
				<match url="^/?space/([a-zA-Z0-9]+)/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=Space&act=index&uid={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="space_following">
				<match url="^/?space/([a-zA-Z0-9]+)/following/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Space&act=follow&uid={R:1}&type=following&{QUERY_STRING}" />
			</rule>
			<rule name="space_follower">
				<match url="^/?space/([a-zA-Z0-9]+)/follower/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Space&act=follow&uid={R:1}&type=follower&{QUERY_STRING}" />
			</rule>
			<rule name="?space_profile">
				<match url="^/?space/([a-zA-Z0-9]+)/profile/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=Space&act=profile&uid={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="?weibo_detail">
				<match url="^/?weibo/([0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Space&act=detail&id={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="?topics">
				<match url="^/?topics(?:/([^\?]*))?/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=User&act=topics&domain={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="?search_weibo">
				<match url="^/?search/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=User&act=search&{QUERY_STRING}" />
			</rule>
			<rule name="?search_user">
				<match url="^/?search/user/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=User&act=searchuser&{QUERY_STRING}" />
			</rule>
			<rule name="?search_tag">
				<match url="^/?search/tag/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=User&act=searchtag&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_add">
				<match url="^/?app/add/?$" />
				<action	type="Rewrite" url="index.php?app=home&mod=Index&act=addapp&{QUERY_STRING}" />
			</rule>
			<rule name="app_edit">
				<match url="^/?app/edit/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=Index&act=editapp&{QUERY_STRING}" />
			</rule>
			<rule name="app_install">
				<match url="^/?app/install/([0-9]+)/?$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=Index&act=install&app_id={R:1}&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_blog">
				<match url="^/?app/blog/?$"	/>
				<action	type="Rewrite" url="index.php?app=blog&mod=Index&act=index&{QUERY_STRING}" />
			</rule>
			<rule name="app_blog_lastest">
				<match url="^/?app/blog/lastest/?$"	/>
				<action	type="Rewrite" url="index.php?app=blog&mod=Index&act=news&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_blog_following">
				<match url="^/?app/blog/following/?$" />
				<action	type="Rewrite" url="index.php?app=blog&mod=Index&act=followsblog&{QUERY_STRING}" />
			</rule>
			<rule name="app_blog_my">
				<match url="^/?app/blog/my/?$" />
				<action	type="Rewrite" url="index.php?app=blog&mod=Index&act=my&{QUERY_STRING}" />
			</rule>
			<rule name="app_blogs">
				<match url="^/?app/blog/([0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=blog&mod=Index&act=personal&uid={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_blog_detail">
				<match url="^/?app/blog/detail/([0-9]+)/?$"	/>
				<action	type="Rewrite" url="index.php?app=blog&mod=Index&act=show&id={R:1}&{QUERY_STRING}" />
			<rule name="app_blog_category">
				<match url="^/?app/blog/([0-9]+)/category/([0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=blog&mod=Index&act=personal&uid={R:1}&cateId={R:2}&{QUERY_STRING}" />
			</rule>
			<rule name="app_blog_post">
				<match url="^/?app/blog/post/?$" />
				<action	type="Rewrite" url="index.php?app=blog&mod=Index&act=addBlog&{QUERY_STRING}" />
			</rule>
			<rule name="app_blog_edit">
				<match url="^/?app/blog/edit/([0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=blog&mod=Index&act=edit&id={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_blog_admin">
				<match url="^/?app/blog/manage/?$" />
				<action	type="Rewrite" url="index.php?app=blog&mod=Index&act=admin&{QUERY_STRING}" />
			</rule>
			<rule name="app_photo">
				<match url="^/?app/photo/?$" />
				<action	type="Rewrite" url="index.php?app=photo&mod=Index&act=index&{QUERY_STRING}" />
			</rule>
			<rule name="app_photo_all_albums">
				<match url="^/?app/photo/all_albums/?$"	/>
				<action	type="Rewrite" url="index.php?app=photo&mod=Index&act=all_albums&{QUERY_STRING}" />
			</rule>
			<rule name="app_photo_all_photos">
				<match url="^/?app/photo/all_photos/?$"	/>
				<action	type="Rewrite" url="index.php?app=photo&mod=Index&act=all_photos&{QUERY_STRING}" />
			</rule>
			<rule name="app_photo_albums">
				<match url="^/?app/photo/albums/?$"	/>
				<action	type="Rewrite" url="index.php?app=photo&mod=Index&act=albums&{QUERY_STRING}" />
			</rule>
			<rule name="app_photo_photos">
				<match url="^/?app/photo/photos/?$"	/>
				<action	type="Rewrite" url="index.php?app=photo&mod=Index&act=photos&{QUERY_STRING}" />
			</rule>
			<rule name="app_photo_album_detail">
				<match url="^/?app/photo/album/([0-9]+)/?$"	/>
				<action	type="Rewrite" url="index.php?app=photo&mod=Index&act=album&id={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_photo_photo_detail">
				<match url="^/?app/photo/photo/([0-9]+)/?$"	/>
				<action	type="Rewrite" url="index.php?app=photo&mod=Index&act=photo&id={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_photo_multi_upload">
				<match url="^/?app/photo/multi_upload/?$" />
				<action	type="Rewrite" url="index.php?app=photo&mod=Upload&act=flash&{QUERY_STRING}" />
			</rule>
			<rule name="app_photo_upload">
				<match url="^/?app/photo/upload/?$"	/>
				<action	type="Rewrite" url="index.php?app=photo&mod=Upload&act=index&{QUERY_STRING}" />
			</rule>
			<rule name="app_photo_edit_detail">
				<match url="^/?app/photo/edit/([0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=photo&mod=Manage&act=album_edit&id={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_photo_order_detail">
				<match url="^/?app/photo/order/([0-9]+)/?$"	/>
				<action	type="Rewrite" url="index.php?app=photo&mod=Manage&act=album_order&id={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_event_detail">
				<match url="^/?app/event/?$" />
				<action	type="Rewrite" url="index.php?app=event&mod=Index&act=index&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_event_detail">
				<match url="^/?app/event/events/?$"	/>
				<action	type="Rewrite" url="index.php?app=event&mod=Index&act=personal&{QUERY_STRING}" />
			</rule>
			<rule name="app_event_post">
				<match url="^/?app/event/post/?$" />
				<action	type="Rewrite" url="index.php?app=event&mod=Index&act=addEvent&{QUERY_STRING}" />
			</rule>
			<rule name="app_event_edit_detail">
				<match url="^/?app/event/edit/([0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=event&mod=Index&act=edit&id={R:1}&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_event_details">
				<match url="^/?app/event/detail/([0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=event&mod=Index&act=eventDetail&id={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_event_member_detail">
				<match url="^/?app/event/member/([0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=event&mod=Index&act=member&id={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_vote">
				<match url="^/?app/vote/?$"	/>
				<action	type="Rewrite" url="index.php?app=vote&mod=Index&act=index&{QUERY_STRING}" />
			</rule>
			<rule name="app_vote_my">
				<match url="^/?app/vote/my/?$" />
				<action	type="Rewrite" url="index.php?app=vote&mod=Index&act=my&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_vote_detail">
				<match url="^/?app/vote/([0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=vote&mod=Index&act=personal&uid={R:1}&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_vote_post">
				<match url="^/?app/vote/post/?$" />
				<action	type="Rewrite" url="index.php?app=vote&mod=Index&act=addPoll&{QUERY_STRING}" />
			</rule>
			<rule name="app_vote_detail">
				<match url="^/?app/vote/detail/([0-9]+)/?$"	/>
				<action	type="Rewrite" url="index.php?app=vote&mod=Index&act=pollDetail&id={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_gift">
				<match url="^/?app/gift/?$"	/>
				<action	type="Rewrite" url="index.php?app=gift&mod=Index&act=index&{QUERY_STRING}" />
			</rule>
			<rule name="app_gift_receive">
				<match url="^/?app/gift/receive/?$"	/>
				<action	type="Rewrite" url="index.php?app=gift&mod=Index&act=receivebox&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_gift_send">
				<match url="^/?app/gift/send/?$" />
				<action	type="Rewrite" url="index.php?app=gift&mod=Index&act=sendbox&{QUERY_STRING}" />
			</rule>
			<rule name="app_gift_detail">
				<match url="^/?app/gift/([0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=gift&mod=Index&act=personal&uid={R:1}&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_poster">
				<match url="^/?app/poster/?$" />
				<action	type="Rewrite" url="index.php?app=poster&mod=Index&act=index&{QUERY_STRING}" />
			</rule>
			<rule name="app_poster_detail">
				<match url="^/?app/poster/posters/?$" />
				<action	type="Rewrite" url="index.php?app=poster&mod=Index&act=personal&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_poster_post">
				<match url="^/?app/poster/post/?$" />
				<action	type="Rewrite" url="index.php?app=poster&mod=Index&act=addPosterSort&{QUERY_STRING}" />
			</rule>
			<rule name="app_poster_post_detail">
				<match url="^/?app/poster/post/([0-9]+)/?$"	/>
				<action	type="Rewrite" url="index.php?app=poster&mod=Index&act=addPoster&typeId={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_poster_edit">
				<match url="^/?app/poster/edit/([0-9]+)/?$"	/>
				<action	type="Rewrite" url="index.php?app=poster&mod=Index&act=editPoster&id={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_poster_details">
				<match url="^/?app/poster/detail/([0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=poster&mod=Index&act=posterDetail&id={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_groups">
				<match url="^/?app/group/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Index&act=index&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_group_index">
				<match url="^/?app/group/index?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Index&act=index&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_group_my_post">
				<match url="^/?app/group/my_post/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Index&act=post&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_replied">
				<match url="^/?app/group/replied/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Index&act=replied&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_comment">
				<match url="^/?app/group/comment/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Index&act=comment&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_atme">
				<match url="^/?app/group/atme/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Index&act=atme&{QUERY_STRING}" />
			</rule>
			<rule name="app_groups_detail">
				<match url="^/?app/group/groups/?$"	/>
				<action	type="Rewrite" url="index.php?app=group&mod=SomeOne&act=index&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_class">
				<match url="^/?app/group/class/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Index&act=find&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_search">
				<match url="^/?app/group/search/?$"	/>
				<action	type="Rewrite" url="index.php?app=group&mod=Index&act=search&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_add">
				<match url="^/?app/group/add/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Index&act=add&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_details">
				<match url="^/?app/group/([0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Group&act=index&gid={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_search">
				<match url="^/?app/group/([0-9]+)/search?$"	/>
				<action	type="Rewrite" url="index.php?app=group&mod=Group&act=search&gid={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_group_detail">
				<match url="^/?app/group/([0-9]+)/detail/([0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Group&act=detail&gid={R:1}&id={R:2}&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_invite">
				<match url="^/?app/group/([0-9]+)/invite/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Invite&act=create&gid={R:1}&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_group_setting_baseinfo">
				<match url="^/?app/group/([0-9]+)/setting/baseinfo/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Manage&act=index&gid={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_setting_privacy">
				<match url="^/?app/group/([0-9]+)/setting/private/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Manage&act=privacy&gid={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_setting_member">
				<match url="^/?app/group/([0-9]+)/setting/member/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Manage&act=membermanage&gid={R:1}&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_group_setting_announcement">
				<match url="^/?app/group/([0-9]+)/setting/announcement/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Manage&act=announce&gid={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_setting_log">
				<match url="^/?app/group/([0-9]+)/setting/log/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Log&act=index&gid={R:1}&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_group_bbs">
				<match url="^/?app/group/([0-9]+)/bbs/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Topic&act=index&gid={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_bbs_post">
				<match url="^/?app/group/([0-9]+)/bbs/post/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Topic&act=add&gid={R:1}&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_group_bbs_edit">
				<match url="^/?app/group/([0-9]+)/bbs/edit/([0-9]+)/?$"	/>
				<action	type="Rewrite" url="index.php?app=group&mod=Topic&act=edit&gid={R:1}&tid={R:2}&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_bbs_reply">
				<match url="^/?app/group(?:/([0-9]+))?/bbs_reply/edit(?:/([0-9]+))?/?$"	/>
				<action	type="Rewrite" url="index.php?app=group&mod=Topic&act=editPost&gid={R:1}&pid={R:2}&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_bbs_details">
				<match url="^/?app/group/([0-9]+)/bbs/([0-9]+)/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Topic&act=topic&gid={R:1}&tid={R:2}&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_group_file">
				<match url="^/?app/group/([0-9]+)/file/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Dir&act=index&gid={R:1}&{QUERY_STRING}"	/>
			</rule>
			<rule name="app_group_file_upload">
				<match url="^/?app/group/([0-9]+)/file/upload/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Dir&act=upload&gid={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_member">
				<match url="^/?app/group/([0-9]+)/member/?$" />
				<action	type="Rewrite" url="index.php?app=group&mod=Member&act=index&gid={R:1}&{QUERY_STRING}" />
			</rule>
			<rule name="app_group_file_error_4o4">
				<match url="^/?([a-zA-Z0-9]+)$"	/>
				<action	type="Rewrite" url="index.php?app=home&mod=Public&act=error404&{QUERY_STRING}" />
			</rule>
		</rules>
	</rewrite>
	<defaultDocument>
		<files>
			<clear />
			<add value="index.asp" />
			<add value="dufault.html" />
			<add value="Default.htm" />
			<add value="Default.asp" />
			<add value="index.htm" />
			<add value="index.html"	/>
			<add value="iisstart.htm" />
			<add value="default.aspx" />
			<add value="index.php" />
		</files>
	</defaultDocument>
</system.webServer>
</configuration>